.form {
  width: 500px;
  border-radius: 10px;
  // border: solid 1px black;
  padding: 16px 25px 16px 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgb(80 97 120) 2px 5px 6px;
  box-sizing: border-box;
}

.field {
  padding-bottom: 10px;
}

mat-slide-toggle{
  padding-bottom: 20px;
}

.button-confirm {
  background-color: #2bd142;
  color: white !important;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 800;
  box-shadow: rgb(80 97 120) 2px 5px 10px;
}

.button-confirm:hover {
  background-color: #23ac35;
}

.button {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.container {
  align-items: center;
}

.mycsssnackbartest {
  background-color: blue;
}

.voltar {
  position: absolute;
  top: 90px;
  left: 15px;
}

.button-voltar {
  background-color: #a9afa9;
  color: white !important;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 800;
  box-shadow: rgb(80 97 120) 2px 5px 10px;
}

.button-voltar:hover {
  background-color: #828582;
}